timekeeper/timedb
*.pyc
timekeeper/settings_local.py
timekeeper/prod_passwords.py
timekeeper/media
build
dist
Chronos.egg-info

timekeeper/settings_local.py

timekeeper/settings_local.py

settings.ini

timekeeper/settings_backup.py
