body {
	font-family: verdana, helvetica, tahoma, sans-serif;
}

#main-content {
	font-family: verdana, helvetica, tahoma, sans-serif;
}

#month_header {
  text-align: center;
}

#month_header a {
  text-decoration: none;;
}
#menu {
	float: right;
	width: 160px;
}

#month {
	width: 85%;
}

#month table {
	float: left;
	}
	
#month td {
	width: 14%;
	border-width: 1px;
	border-style: dotted;
	border-color: #000;
}

#month ul {
	list-style-type: none;
	padding: 0;
}

.assignments {
	font-size: 0.8em;
	min-height: 40px;
}
.assignments form {
	 margin: 0;
	 padding: 0;
}

.assignment li {
	 margin: 0;
	 padding: 0;
 }

#sidebar {
	float: right;
}

#accordion ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#footer {
	border-width: 1px;
	clear: both;
}

#assign-role {
	display: none;
}

#assignment-form {
	display: none;
}
