<html>
<head><title>{% block title %} Chronos - GJST! {% endblock title %}</title></head>
<body>
	<div id="sidebar">
		{% block sidebar %} {% endblock sidebar %} 
	</div>

	<div id="menu">
		{% block menu %}

                <!-- MENU -->
                <h3>Menu</h3>
                {% if user.is_staff %}
                	<p>You're logged in, magic goes here soon.</p>
                {% else %}
                	<p>You're not logged in, no magix for you!</p>
                {% endif %}

            {% endblock menu %}
        </div>

	<div id="main-content">
		{% block content %} {% endblock content %}
	</div>

	<div id="footer">
		{% block footer %} {% endblock footer %}
	</div>

</body>
</html>