<html>
<head>
<title>{% block title %} Chronos - GJST! {% endblock title %}</title></head>
<link rel="stylesheet" href="/static/styles/chronos.css" />
<link type="text/css" href="{{ STATIC_URL }}scripts/css/start/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />	

<body>
	<div id="sidebar">
		{% block sidebar %}  {% endblock sidebar %} 
	</div>

	<div id="menu">
		{% block menu %}

                <!-- MENU -->
                <h3>Menu</h3>
                {% if user.is_staff %}
                	<p>You're logged in, magic goes here soon.</p>
                {% else %}
                	<p>You're not logged in, no magix for you!</p>
                {% endif %}

            {% endblock menu %}
        </div>

	<div id="main-content">
		{% block content %} {% endblock content %}
	</div>

	<div id="footer">
		{% block footer %}
		<p> Thanks for using Chronos. Make your <a href="https://freshbooks.wufoo.eu/forms/schedgy-20-wishlist-for-nox/">wishes</a> here. </p>

		{% endblock footer %}
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}scripts/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/chronos.js"></script>
</body>
</html>