{% extends "chronos/base.html" %}

{% block content %} 

	<h4><a href="/{{ prev_month.year }}/{{ prev_month.month }}">Prev</a> || {{ mname }} {{ year }} || <a href="/{{ next_month.year }}/{{ next_month.month }}">Next</a></h4>

	<div id="month" width="75%">
	    <table width="95%">

	    <tr valign="top">
	        <td class="empty">Mon</td>
	        <td class="empty">Tue</td>
	        <td class="empty">Wed</td>
	        <td class="empty">Thu</td>
	        <td class="empty">Fri</td>
	        <td class="empty">Sat</td>
	        <td class="empty">Sun</td>
	    </tr>

	    {% for week in month_days %}
	        <tr valign="top">
	        {% for day, assignments, current in week %}

	            <!-- TD style: empty | day | current; onClick handler and highlight  -->
	            <td class= {% if day == 0 %}"empty"{% endif %}
	            {% if day != 0 and not current %}"day ui-widget-header"{% endif %}
	            {% if day != 0 and current %}"current ui-widget-header"{% endif %}
	            {% if day != 0 %}
	                onMouseOver="this.bgColor='#eeeeee';"
	                onMouseOut="this.bgColor='white';"
	                data-id="{{ year }}-{{ month }}-{{ day }}"
	            {% endif %} >

	            {% if day != 0 %}
	                <p class="date">{{ day }}</p>
	                <ul class="assignments">{% for assignment in assignments %}
	                    
	                    <li class = "assignment" data-id="{{ assignment.id }}">
	                    	<form class="delete-assignment" method="POST" action="/delete-assignment/{{ assignment.id }}/">{% csrf_token %}
	                    		{% if user.is_staff %}<input type="submit" value="X">{% endif %}
	                    	<strong>{{ assignment.person }}</strong>: <img src="{{ assignment.role.icon_mini.url }}" /></form>
	                    </li>

	                {% endfor %}</ul>
	            {% endif %}
	            </td>
	        {% endfor %}
	        </tr>
	    {% endfor %}
	    </table>

	    <div class="clear"></div>
	</div>

		<form id="assignment-form" action="/" method="post">
			{% csrf_token %} {{ form }}
		</form>

		<form id="assign-role" action="" method="post">
			{% csrf_token %} {{ form }}
		</form>

{% endblock content %}

	{% block sidebar %} 
	
		{% if user.is_staff %} 

	<div id="accordion" width="25%">

		<h3 id="roles"><a href="#">Roles</a></h3>
		<div>
			<ul id ="role_icons">
				{% for role in roles %}
				<li class="role" data-id="{{ role.id }}" data-miniicon="{{ role.icon_mini.url }}"><img src="{{ role.icon.url }}" /> {{ role.name }}</li>
				{% endfor %}
			</ul>
		</div>

		<h3 id="is_support"><a href="#">Rockstars</a></h3>
		<div>
			<ul> 
				{% for person in support_team %}
				<li class="support" data-id="{{ person.id }}">{{ person.first_name }} {{ person.last_name }}</li>
				{% endfor %}
			</ul>
		</div>

		<h3 id="is_not_support"><a href="#">Gueststars</a></h3>
		<div>
			<ul> 
				{% for person in not_support_team %}
				<li class="not_support" data-id="{{ person.id }}">{{ person.first_name }} {{ person.last_name }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<p><a href="javascript:void(0)"onclick="window.open('/create-user/','linkname','height=380, width=300,scrollbars=no')">Create a new user</a></p>

	{% else %}

	<h3 id="role-legend">Role Legend</h3>

		<ul id ="role_icons">
			{% for role in roles %}
			<li class="role" data-id="{{ role.id }}" data-miniicon="{{ role.icon_mini.url }}"><img src="{{ role.icon.url }}" /> {{ role.name }}</li>
			{% endfor %}
			</ul>

	{% endif %}
	{% endblock sidebar %} 