#main-content {
	font-family: helvetica, tahoma, sans-serif;
}

#menu {
	float: right;
	width: 160px;
}

#month {
	width: 85%;
}

#month table {
	float: left;
	}
	
#month td {
	width: 14%;
	border-width: 1px;
	border-style: dotted;
	border-color: #000;
}

#month ul {
	list-style-type: none;
	padding: 0;
}

.assignments {
	font-size: 0.8em;
}

#sidebar {
	float: right;
}

#accordion ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#footer {
	border-width: 1px;
	clear: both;
}

#assign-role {
	display: none;
}

#assignment-form {

}