#main-content {

}

#month table {
	width: 75%;
	float: left;
	}
	
#month td {
	width: 14%;
	border-width: 1px;
	border-style: dotted;
	border-color: #000;
}

.assignments {
	font-size: 0.8em;
}

#sidebar {
	float: right;
}

#is_support #is_not_support {
	font-family: helvetica, tahoma, arial, sans-serif;
	font-size: 90%;
	float: left;
}

#footer {
	border-width: 1px;
	clear: both;
}